@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "my-dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #FFFFFF;
  --color-base-200: #DDDDDD;
  --color-base-300: #B4B4B4;
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: #121F28;
  --color-primary-content: #DDDDDD;
  --color-secondary: #4AE53C;
  --color-secondary-content: #0A7C00;
  --color-accent: #063D01;
  --color-accent-content: #0A7C00;
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: #401010;
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0rem;
  --radius-field: 0.5rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
